body
{
    color: rgb(58, 54, 54);
    background-color:#659DBD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
h1
{
    text-align: left;
    font-family:'Times New Roman',serif;
    font-size: 4em;
    font-variant: small-caps;
    text-indent: 1em;
    background-color:#DAAD86 ;
    color: #665836 ;
    text-shadow: 4px 4px 4px grey ;
}
h3
{
    color: #665836 ;
    text-indent: 4em;
    text-align: left;
    font-family:'Times New Roman',serif;
    font-size: 1.5em;
    font-variant: small-caps;
    background-color:#DAAD86 ;
    word-spacing: 2px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 6px grey ;
}

ol
{
    font-size:18px;
    text-indent: 70px;
    line-height: 25px;
    word-spacing: 6px;
    text-indent: 5em;
    list-style: none;
}
ul
{
    font-size:18px;
    text-indent: 70px;
    line-height: 25px;
    word-spacing: 6px;
    text-indent: 5em;
    list-style-position: inside;
}
p
{
    text-align: justify;
    font-size:18px;
    text-indent: 70px;
    line-height: 30px;
    word-spacing: 6px;
}
