body
{
    background-color: #1F2833 ;
    background-image: url(../space.gif);
}

h1
{
    font-family: tahoma;
    font-size: 90px;
    background-color: #1F2833;
    color: rgb(239, 249, 250);
    margin: 0px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
h3
{
    text-align: left;
    font-family: Tahoma;
    color: #f7fafd;
    margin-top: 100px;
    margin-bottom: 100px;

}
h3 a
{
    text-shadow: 2px 2px 2px grey;
    font-size: 50px;
    color: #000000;
    background-color: #ecf2fa;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin-left: 660px;
}
h3 a:hover
{
    color: #151718;
    box-shadow: 0px 5px 100px #faefef;
    font-size: 52px;
    font-weight: bold;
}

p#desc
{
    font-family: tahoma;
    font-size: 30px;
    color: white;
    text-align: center;
}