body
{
    background-color: #1F2833 ;
    background-image: url(../space.gif);
}
h1
{
    font-family: tahoma;
    font-size: 90px;
    background-color: #1F2833;
    color: rgb(239, 249, 250);
    margin: 0px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
h3
{
    text-align: left;
    font-family: Tahoma;
    color: #f7fafd;
    margin-top: 60px;
    margin-bottom: 0px;
}
h3 a
{
    text-shadow: 2px 2px 2px grey;
    font-size: 50px;
    color: #000000;
    background-color: #ecf2fa;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin-left: 660px;
}
h3 a:hover
{
    color: #151718;
    box-shadow: 0px 5px 100px #faefef;
    font-size: 52px;
    font-weight: bold;
}
ul.menu1
{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
ul li
{
    list-style: none;
    margin-right: 80px;
    margin-top: 10px;
    word-spacing: 25px;
    letter-spacing: 4px;
}
ul li.p1 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p2 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p3 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p4 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p5 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p1 a:hover
{
    color: #920ebb;
    box-shadow: 0 5px 100px purple;
    font-size: 23px;
    font-weight: bold;
}
ul li.p2 a:hover
{
    color: #b3060f;
    box-shadow: 0 5px 100px #b3060f;
    font-size: 23px;
    font-weight: bold;
}
ul li.p3 a:hover
{
    color: rgb(56, 202, 11);
    box-shadow: 0 5px 100px rgb(56, 202, 11);
    font-size: 23px;
    font-weight: bold;
}
ul li.p4 a:hover
{
    color: rgb(23, 7, 163);
    box-shadow: 0px 5px 100px rgb(23, 7, 163);
    font-size: 23px;
    font-weight: bold;
}
ul li.p5 a:hover
{
    color: rgb(243, 247, 41);
    box-shadow: 0px 5px 100px rgb(243, 247, 41);
    font-size: 23px;
    font-weight: bold;
}



ul.menu2
{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
ul li.p6 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p7
{
    word-spacing: 5px;
}
ul li.p7 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}
ul li.p8 a
{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 20px;
}

ul li.p6 a:hover
{
    color: #920ebb;
    box-shadow: 0 5px 100px purple;
    font-size: 23px;
    font-weight: bold;
}
ul li.p7 a:hover
{
    color: #ff003f;
    box-shadow: 0 5px 100px #ff003f;
    font-size: 23px;
    font-weight: bold;
}
ul li.p8 a:hover
{
    color: #00fdff;
    box-shadow: 0 5px 100px #00fdff;
    font-size: 23px;
    font-weight: bold;
}
